a.ccm-block-page-list-rss-feed {
    position: absolute;
    top: 0;
    right: 0;
}

div.ccm-block-page-list-wrapper {
    position: relative;
}

div.ccm-block-page-list-page-entry-horizontal {
    display: table;
    width: 100%;
}

div.ccm-block-page-list-page-entry-horizontal,
div.ccm-block-page-list-page-entry {
    margin-bottom: 10px;
}


div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail {
    display: table-cell;
    vertical-align: top;
    width: 1px;
}

div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail img {
    max-width: none;
}
/*

.aftm-eventlist-thumbnail {
    max-width: 240px;
}

.aftm-eventlist-thumbnail-jams {
    max-width: 120px;
}
*/



div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-text {
    display: table-cell;
    padding-left: 20px;
    vertical-align: top;
}

div.ccm-block-page-list-page-entry-text div.ccm-block-page-list-title {
    font-weight: bold;
}

div.ccm-block-page-list-page-entry-read-more {
    margin-top: 20px;
}

.aftm-eventlist-title,
.aftm-eventlist-title a,
.aftm-eventlist-title a:link,
.aftm-eventlist-title a:visited,
.aftm-eventlist-title a:active,
.aftm-eventlist-title a:not(.fa),
.aftm-eventlist-title a:not(.btn)
{
    font-size: 2rem;
    color: #8b211e; !important;
}

.aftm-eventlist-title-link {
    color: #8b211e; !important;
}
.aftm-eventlist-detail {
    font-weight: bold;
    font-size: 1.5rem;
    color: #8f4300;
}
